@import "bootstrap-sprockets";
@import "bootstrap";


body {
  margin: 25px;
  background: #ffffcc;
}

div.col {
  height: 50px;
  border: 1px solid lightgrey;
  background-color: #ffffe6;
}

a:link, a:hover, a:active, a:visited {
  background-color: #80bfff;
  border: 1px solid grey;
  padding: 3px;
}

table {
  background: #ffffe6;
  border: 1px solid #0066cc;
  width: 75%;
}

th {
  padding: 10px;
  height: 50px;
}

tr {
  padding: 10px;
  height: 50px;
  border-right: 2px solid #0066cc;
  border-top: 1px solid #0066cc;
  border-left: 2px solid #0066cc;
  border-bottom: 1px solid grey;
}

input[type=text] {
  width: 30%;
}

input[type=text], input[type=email], input[type=password], select {
  background-color: lightgrey;
}
